@font-face{
    font-family: Allura;
    src: url(../fonts/allura.ttf) format("truetype")
}

@font-face{
    font-family: Poppins;
    src: url(../fonts/poppins.ttf) format("truetype")
}

* { 
    margin:0;
    border:0;
    font-size:100%;
    outline: 0;
    padding:0;
    font-family: Poppins;
}

html{
    background-color:var(--white);
    color:var(--darkbrown);
}

:root{
    --lightbrown: #d2b690;
    --darkbrown: #2e2828;
    --gray: #b9b9af;
    --white:#e5e5e5;
}

#content{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imgs/pastries.jpg);
    background-size: cover;
}

#navBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:80px;
    color:white;
    align-items: center;
}

#navBar h1{
    text-shadow: 2px 2px 1px black;
    font-size:400%;
    font-family: Allura;
    margin:2rem 2rem;
}

#links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 1.5rem;
}

#links h2{
    display:inline;
    float:right;
    padding: .75rem .75rem;
    font-size: 120%;
    user-select: none;
}

#links h2:hover{
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    cursor: pointer;
}

#links h2:active{
    box-shadow: 0px 0px 5px 2px white;
}

@media screen and (max-width:960px){
    #links h2{
        font-size:100%;
    }

    #navBar h1{
        font-size: 250%;
    }
}


#main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width:100%;
    align-items: center;
}

#headline{
    color: white;
    font-size: 250%;
    text-align: center;
    padding-top:10rem;
    margin-bottom: 1rem;
    
}

.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.button{
    background-color: white;
    padding: .5rem 2rem;
    user-select: none;
}

.button:hover{
    border: 1px white solid;
    background-color: rgba(0,0,0,.1);
    color:white;
    box-shadow: 0px 0px 5px 2px white;
    font-weight: bold;
}

.button:active{
    background-color: rgba(255,255,255,0.5);
    color:black;
    box-shadow: 0px 0px 5px 2px white;
}

.button2{
    background-color: rgba(0,0,0,0);
    color:white;
    border: 1px solid white;
}

.header{
    font-size: 700%;
    color: white;
    padding:5rem 0;
    height:150px;
    width:100%;
    text-align: center;
}

#items{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

#items h1{
    color: black;
    font-size: 250%;
    margin: 2rem auto;
}

.full{
    display:flex;
    flex-direction: row;
    width:100%;
}

.full img{
    height:50%;
    width:auto;
}

.submenu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:3rem;
    background-color: white;
    width:100%;
}

#submenuTitle{
    font-size: 250%;
    color: black;
}

.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    margin:1rem;
}

.item h2{
    font-size:150%;
}

#storyText{
    width:60%;
    background-color: white;
    padding:2rem;
}
